.container {
    width: 100%;
    max-width: 90rem;/* 1440px; */
    margin: 0 auto;
    padding: 0 1.5rem;

    /* 120rem 1920px */
    @media (max-width: 120rem) {
        padding: 0 1.5rem;
    }

    /* 89.9375rem 1439px */
    @media (max-width: 89.9375rem) {
        padding: 0 1.5rem;
    }

    /* 63.9375rem 1023px */
    @media (max-width: 63.9375rem) {
        padding: 0 1.25rem;
    }

    /* 47.9375rem 767px */
    @media (max-width: 47.9375rem) {
        padding: 0 1rem;
    }
}
/* 
Популярные контрольные точки (breakpoints)

1. Мобильные устройства
	•	320px: Самые маленькие экраны (например, iPhone SE, старые Android-телефоны).
	•	375px: Ширина современных смартфонов (например, iPhone 12, 13, 14).
    *   23.375rem – 374px desktop first
	•	414px: Ширина больших телефонов (например, iPhone 14 Pro Max, Galaxy S22 Ultra).
    *   576px

    Small devices such as large phones (640px and up)
    @media only screen and (min-width: 640px) {...}

2. Планшеты
	•	768px: Портретная ориентация планшетов (например, iPad, Galaxy Tab).
	•	834px: iPad Air и iPad Pro в портретной ориентации.
    *   992px
	•	1024px: Ландшафтная ориентация планшетов и небольшие ноутбуки.
    *   1200

3. Ноутбуки и десктопы
	•	1280px: Ширина стандартных ноутбуков (например, MacBook Air, многие Windows-ноутбуки).
	•	1366px: Самое распространённое разрешение экранов ноутбуков.
    *   1400
	•	1440px: Ширина для современных ноутбуков с большими экранами.
	•	1920px: Full HD разрешение, распространённое на больших мониторах.

4. 4K и выше
	•	2560px: Ширина экранов с разрешением QHD (2K).
	•	3840px: Ширина для Ultra HD (4K) дисплеев.
*/