:root {
    --black: #000000;
    --white: #ffffff;
    --red: #CB2528;
    --violet: #E839CD;
    --purple: #7E14F7;
    --gray: #e2e2e8;
    --blueshift: #0e0ed45f;
    --light-green: rgba(136, 198, 44, 0.444);
    --green: rgba(136, 198, 44, 1);
}