{% extends 'base.html' %}

{% block content %}
    <section class="section">
        <h2 class="visually-hidden">Ввод запроса</h2>
        <div class="container">
            <form class="form" method="get" action="#">
                <label>
                    <input type="text" name="query" placeholder="Введите категорию или запрос">
                </label>
                <button type="submit" class="button">Показать товары</button>
            </form>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="filter">
                <h2>Фильтры</h2>

                <div class="filter__filters">
                    {% comment %} Фильтр по цене (диапазон) {% endcomment %}
                    <div class="filter__type">
                        <b>Диапазон цен:</b>
                        <div class="filter__minmax-price">
                            <label>
                                <input type="number" name="min_price" placeholder="Мин. цена" min="0">
                            </label>
                            <label>
                                <input type="number" name="max_price" placeholder="Макс. цена" min="0">
                            </label>
                        </div>
                    </div>

                    {% comment %} Фильтр по рейтингу {% endcomment %}
                    <div class="filter__type">
                        <label>
                            <b>Минимальный рейтинг:</b>
                            <input type="number"
                                   name="min_rating"
                                   step="0.1"
                                   min="0"
                                   max="5"
                                   placeholder="например, 4, 4.1"
                                   oninput="const max = parseFloat(this.max); if (this.valueAsNumber > max) { this.value = max; } ">
                        </label>
                    </div>

                    {% comment %} Фильтр по количеству отзывов {% endcomment %}
                    <div class="filter__type">
                        <label>
                            <b>Минимум отзывов:</b>
                            <input type="number" name="min_reviews" min="0" placeholder="например, 100">
                        </label>
                    </div>

                    {% comment %} Сортировка {% endcomment %}
                    <div class="filter__type">
                        <label>
                            <b>Сортировка:</b>
                            <select name="sort_by">
                                <option value="" disabled selected>Сортировать по…</option>
                                <option value="name_asc">Названию (А-Я)</option>
                                <option value="name_desc">Названию (Я-А)</option>
                                <option value="price_asc">Цене (возр.)</option>
                                <option value="price_desc">Цене (убыв.)</option>
                                <option value="rating_asc">Рейтингу (возр.)</option>
                                <option value="rating_desc">Рейтингу (убыв.)</option>
                                <option value="reviews_asc">Колич. отзывов (возр.)</option>
                                <option value="reviews_desc">Колич. отзывов (убыв.)</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <h2 class="visually-hidden">Вывод запроса</h2>
        <div class="container">
            <div class="table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Название товара</th>
                            <th>Цена</th>
                            <th>Цена со скидкой</th>
                            <th>Рейтинг</th>
                            <th>Количество отзывов</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in products %}
                            <tr>
                                <td>{{ p.name }}</td>
                                <td>{{ p.price }} ₽</td>
                                <td>{{ p.discount_price }} ₽</td>
                                <td>{{ p.rating }}</td>
                                <td>{{ p.reviews }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5">Нет товаров для отображения</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
