{% extends 'base.html' %}

{% block content %}
    <section class="section">
        <div class="container">
            <form class="form" method="get" action="#">
                <label>
                    <input type="text" name="query" placeholder="Введите категорию или запрос" />
                </label>
                <button type="submit" class="button">Показать товары</button>
            </form>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Название товара</th>
                            <th>Цена</th>
                            <th>Цена со скидкой</th>
                            <th>Рейтинг</th>
                            <th>Количество отзывов</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Пример товара 1</td>
                            <td>5 000 ₽</td>
                            <td>4 000 ₽</td>
                            <td>4.5</td>
                            <td>120</td>
                        </tr>
                        <tr>
                            <td>Пример товара 2</td>
                            <td>3 200 ₽</td>
                            <td>2 900 ₽</td>
                            <td>4.0</td>
                            <td>75</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
