{% extends 'base.html' %}

{% block content %}
    <section class="section">
        <h2 class="visually-hidden">Ввод запроса</h2>
        <div class="container">
            <form class="form"
                  method="get"
                  action="{% if search_id %}{% url 'search_products' search_id %}{% else %}{% url 'index' %}{% endif %}">
                <label>
                    <input type="text"
                           name="query"
                           placeholder="Введите категорию или запрос"
                           value="{{ query|escape }}">
                </label>
                <button type="submit" class="button">Показать товары</button>
            </form>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="filter">
                <h2>Фильтры</h2>
                <form class="filter__filters"
                      method="get"
                      action="{% if search_id %}{% url 'search_products' search_id %}{% else %}{% url 'index' %}{% endif %}">
                    <input type="hidden" name="query" value="{{ query|escape }}">
                    {% comment %} Фильтр по цене (диапазон) {% endcomment %}
                    <div class="filter__type">
                        <b>Диапазон цен:</b>
                        <div class="filter__minmax-price">
                            <label>
                                <input type="number"
                                       name="min_price"
                                       placeholder="Мин. цена"
                                       min="0"
                                       value="{{ min_price|default_if_none:'' }}">
                            </label>
                            <label>
                                <input type="number"
                                       name="max_price"
                                       placeholder="Макс. цена"
                                       min="0"
                                       value="{{ max_price|default_if_none:'' }}">
                            </label>
                        </div>
                    </div>

                    {% comment %} Фильтр по рейтингу {% endcomment %}
                    <div class="filter__type">
                        <label>
                            <b>Минимальный рейтинг:</b>
                            <input type="number"
                                   name="min_rating"
                                   step="0.1"
                                   min="0"
                                   max="5"
                                   placeholder="например, 4, 4.1"
                                   oninput="const max = parseFloat(this.max); if (this.valueAsNumber > max) { this.value = max; }">
                        </label>
                    </div>

                    {% comment %} Фильтр по количеству отзывов {% endcomment %}
                    <div class="filter__type">
                        <label>
                            <b>Минимум отзывов:</b>
                            <input type="number" name="min_reviews" min="0" placeholder="например, 100">
                        </label>
                    </div>

                    {% comment %} Сортировка {% endcomment %}
                    <div class="filter__type">
                        <label>
                            <b>Сортировка:</b>
                            <select name="sort_by">
                                <option value="" disabled selected>Сортировать по…</option>
                                <option value="name_asc">Названию (А-Я)</option>
                                <option value="name_desc">Названию (Я-А)</option>
                                <option value="price_asc">Цене (возр.)</option>
                                <option value="price_desc">Цене (убыв.)</option>
                                <option value="rating_asc">Рейтингу (возр.)</option>
                                <option value="rating_desc">Рейтингу (убыв.)</option>
                                <option value="reviews_asc">Колич. отзывов (возр.)</option>
                                <option value="reviews_desc">Колич. отзывов (убыв.)</option>
                            </select>
                        </label>
                    </div>

                    <div class="filter__buttons">
                        <button class="button" type="submit">Отфильтровать</button>
                        <a href="{% if search_id %}{% url 'search_products' search_id %}{% else %}{% url 'index' %}?query={{ query|urlencode }}{% endif %}"
                           class="button">Сбросить</a>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="section output">
        <h2 class="visually-hidden">Вывод запроса</h2>

        {% if products %}
            <div class="container">
                <div class="output__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Название товара</th>
                                <th>Цена</th>
                                <th>Цена со скидкой</th>
                                <th>Рейтинг</th>
                                <th>Количество отзывов</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in products %}
                                <tr data-wb-id="{{ p.wb_id }}">
                                    <td>{{ p.name }}</td>
                                    <td>{{ p.price }} ₽</td>
                                    <td>{{ p.discount_price }} ₽</td>
                                    <td>{{ p.rating }}</td>
                                    <td>{{ p.reviews }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <button type="button" class="button" id="save-results">Сохранить поиск</button>
            </div>

        {% else %}

            {% if query %}
                <div class="container">
                    <p>
                        По запросу <b>{{ query }}</b> ничего не найдено.
                    </p>
                </div>
            {% endif %}
        {% endif %}
    </section>
{% endblock %}
