.button {
    border-radius: 1.5rem;
    border: 0.0625rem solid var(--gray);
    padding: 0.625rem;
    font-size: 1rem;
    font-style: normal;
    background-color: var(--purple);
    color: var(--white);
    cursor: pointer;

    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--violet);
    }
}