.form {
    display: flex;
    gap: 1rem;

    label {
        display: flex;
        flex-grow: 1;

        input {
            border-radius: 1.5rem;
            border: 0.0625rem solid var(--gray);
            width: 100%;
            padding: 0.625rem;
            font-size: 1rem;
            font-style: normal;
        }
    }
}